*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    width: 200px;
    height: 200px;
    border: 2px solid;
    margin: 5px;
    padding: 5px;
}

@media screen and (orientation: portrait) {
    div{
        border-radius: 0px;
    }
}

@media screen and (orientation: landscape) {
    div{
        border-radius: 20px;
    }
}