*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container{
    display: flex;
    height: 300px;
    border: 2px solid;
}

.flex-child{
    width: 100px;
    height: 100px;
    border: 2px solid;
    padding: 5px;
    margin: 5px;
}

.child1{
    background-color: blueviolet;
    flex: 2 1 150px;
}

.child2{
    background-color: crimson;
    flex: 1 0 100px;
}

.child3{
    background-color: rgb(34, 230, 34);
    flex: 3 2 auto;
}