* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.banner {
    background-color: black; 
    color: white; 
    padding: 40px; 
    text-align: center; 
}

.header {
    position: sticky;
    top: 0; 
    background-color: rgb(65, 63, 63); 
    border: 2px solid;
    color: white; 
    padding: 15px; 
    z-index: 100; 
    
}

.content {
    padding: 20px; 
    /* to scroll */
    /* height: 1200px;  */
    background-color: navy;
    color: white; 
}

.content>h3{
    border-bottom: 4px solid;
    padding: 20px;
}

.content p{
    margin:20px;
    text-align: justify;
}