html,
body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.box{
    width: 300px;
    height: 200px;
    border: 15px dashed; 
    padding: 20px; 
            
    background-image: url('https://cdn.pixabay.com/photo/2017/06/08/23/00/apple-2385198_960_720.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    /* background-origin: border-box; */
    background-origin: padding-box;
    /* background-origin: content-box; */
}