* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
    /* border-bottom: 2px solid; */
}

.logo>img {
    max-width: 60%;
    object-fit: cover;
    cursor: pointer;
}

/* to hide the checkbox */
.nav-toggle{
    display: none;
}

/* this nav-toggle, navbar and hamburger relation is written inside media queries directly  */

nav {
    display: flex;
    gap: 15px;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 10px 12px;
    font-size: 1rem;
}

nav .contactus {
    background-color: orangered;
    color: white;
    padding: 10px 12px;
    border-radius: 5px;
}

nav a:hover {
    background-color: orangered;
    color: white;
}

.icon {
    display: none;
    font-size: 2rem;
}

.icon:hover {
    cursor: pointer;
    color: orangered;
}

.content {
    background-image: url('https://cdn.pixabay.com/photo/2019/11/13/22/15/motherhood-4624889_960_720.jpg');
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.container {
    border-radius: 30px;
    position: absolute;
    padding: 48px;
    background-color: white;
    z-index: 1;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
}

.contactinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contactinfo span {
    display: block;
    margin: 8px 0;
}

.contactinfo .booking {
    background-color: orangered;
    color: white;
    padding: 12px;
    border-radius: 15px;
    font-weight: 600;
    text-align: center;
    width: 100%;
}

.contactinfo .tel {
    font-weight: bold;
}

.contactinfo .call {
    color: orangered;
}

.contactinfo .tel:hover {
    cursor: pointer;
    color: orangered;
}

.contactinfo .booking:hover {
    background-color: grey;
    cursor: pointer;
}

.contactinfo .credits a {
    color: black;
    text-decoration: underline;
    /* set underline color */
    text-decoration-color: orangered;
}

/* mobile portrait (320px and above) */
@media screen and (max-width: 479px) {
    header {
        font-size: 1rem;
        padding: 8px;
    }

    /* navbar, nav-toggle and hamburger relation */
    nav {
        display: none;

        /* display: flex; */
        flex-direction: column;
        background-color: rgb(245, 241, 241);
        border: 1px solid white;
        border-radius: 12px;
        padding: 8px; 
        
        
        position: absolute; 
        left: 0; 
        /* position below header */
        top: 100%; 
        width: 50%; 

        transition: all 0.45s ease; 
    }

    .nav-toggle:checked + nav{
        display: flex;
    }

    .icon {
        display: block;
        padding: 18px;
        font-size: 2.5rem;
    }
    
    .container {
        width: 68%;
        bottom: -35px;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 80px;
    }
}

/* mobile landscape (480px and above) */
@media screen and (min-width: 480px) and (max-width: 599px) {
    header {
        font-size: 1rem;
    }

    /* navbar, nav-toggle and hamburger relation */
    nav {
        display: none;
        
        /* display: flex; */
        flex-direction: column;
        background-color: rgb(245, 241, 241);
        border: 1px solid white;
        border-radius: 12px;
        padding: 8px; 


        position: absolute; 
        left: 0; 
        /* position below header */
        top: 100%; 
        width: 50%; 

        transition: all 0.45s ease;
    }

    .nav-toggle:checked + nav{
        display: flex;
    }

    .icon {
        display: block;
        padding: 18px;
        font-size: 2.5rem;
    }

    .container {
        width: 66%;
        bottom: -14px;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 80px;
    }
}

/* tablets (600px and above) */
@media screen and (min-width: 600px) and (max-width: 1023px) {
    header {
        font-size: 1.2rem;
        padding: 8px 15px;
    }

    nav {
        display: flex;
        gap: 10px;
    }

    .container {
        width: 50%;
        bottom: -44px;
        right: 38px;
    }
}

/* laptops (1024px and above) */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
    header {
        font-size: 1.3rem;
        padding: 10px 15px;
    }

    nav {
        display: flex;
    }

    .container {
        width: 36%;
        right: 100px;
        bottom: 40px;
    }
}

/* desktops (1441px and above) */
@media screen and (min-width: 1441px) {
    header {
        font-size: 1.4rem;
        padding: 12px 20px;
    }

    nav {
        display: flex;
    }

    .container {
        width: 40%;
        right: 80px;
        bottom: 80px;
    }
}