*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    /* padding: 20px; */
    text-align: center;
    font-size: 1.5rem;
    position: sticky;
    top: 0px;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border-bottom: 2px solid;
}

li{
    list-style-type: none;
    padding: 10px;
}

li:hover{
    background-color: rgb(127, 129, 131);
    border-radius: 4px;
}

