.container {
    width: 400px;
    /* height: 400px; */
    border-width: 2px;
    border-style: solid;
    border-radius: 42px;
    position: relative; 
}

header {
    height: 40px;
    border-width: 2px;
    border-style: solid;
    margin: 20px;
}

.one {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    
    /* centering the circle horizontally */
    margin: 10px auto; 
}

.two {
    width: 190px;
    height: 30px;
    border-width: 2px;
    border-style: solid;

    /* centering the rectangle horizontally */
    margin: 10px auto; 
}

.box {
    height: 40px;
    border-width: 2px;
    border-style: solid;
    margin: 20px;
}
