body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 90%;
    height: 80vh;
}

/* grid-items */
.house {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    height: 100%;
}

/* styling for the house name */
.house span {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
    padding: 8px 16px;
    font-size: 1rem;
}

.house1 {
    background-image: url('https://www.w3schools.com/w3images/house5.jpg');
}

.house2 {
    background-image: url('https://www.w3schools.com/w3images/house2.jpg');
}

.house3 {
    background-image: url('https://www.w3schools.com/w3images/house3.jpg');
}

.house4 {
    background-image: url('https://www.w3schools.com/w3images/house4.jpg');
}

.house5 {
    background-image: url('https://www.w3schools.com/w3images/house2.jpg');
}

.house6 {
    background-image: url('https://www.w3schools.com/w3images/house5.jpg');
}

.house7 {
    background-image: url('https://www.w3schools.com/w3images/house4.jpg');
}

.house8 {
    background-image: url('https://www.w3schools.com/w3images/house3.jpg');
}

/* to make it responsive */
/* screens less than 600px */
@media screen and (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr; 
    }

    .house {
        /* height for grid-item */
        height: 50vh; 
        width: 100%;
    }
}

/* screens between 601px and 992px */
@media screen and (min-width: 601px) and (max-width: 992px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); 
    }

    .house {
        /* height for grid-item */
        height: 40vh; 
        width: 100%;
    }
}