*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 400px;
    height: 400px;
    border: 10px solid green;
    position: relative;
    /* position: absolute; */
    /* position: static; */
}

.container-2{
    margin: 2px;
    width: 100px;
    height: 100px;
    border: 10px solid royalblue;
    position: absolute;
    right: 100px;
}