html,body{
    height: 100%;
}

div{
    width: 200px;
    height: 200px;
    background-color: gold;

    /* animation-name: property;
    animation-duration: 5s; */

    /* animation-direction: reverse; */
    /* animation-direction: alternate-reverse;

    animation-timing-function: linear;

    animation-delay: 2s;

    animation-fill-mode: forwards; */

    /* shorthand property for all the above is;
    animation: name duration timing-function delay iteration-count direction fill-mode; 
    you can skip some properties if not needed*/
    animation: property 5s infinite;
}

@keyframes property {
    0%{
        transform: translate(0px, 0px);
        background-color: lightcoral;
    }

    25%{
        transform: translateX(500px);
        background-color: blue;
    }

    50%{
        transform: translate(500px, 500px) rotate(360deg);
        background-color: lime;
    }

    75%{
        transform: translateY(500px) rotate(360deg);
        background-color: palevioletred;
    }

    100%{
        transform: translate(0px, 0px);
        background-color: aqua;
    }
}